<a href="https://colab.research.google.com/github/devzohaib/pandas_review/blob/master/Pandas_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
boston = pd.read_csv('/content/Boston.csv')
type(boston) # type of boston object

pandas.core.frame.DataFrame

In [6]:
# cheeking the shape of boston dataframe
boston.shape

(506, 15)

In [7]:
boston.columns

Index(['Unnamed: 0', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis',
       'rad', 'tax', 'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [8]:
boston.iloc[:5,:]  # it give the 1st five rows of dataframe of all columns

   Unnamed: 0     crim    zn  indus  chas  ...  tax  ptratio   black  lstat  medv
0           1  0.00632  18.0   2.31     0  ...  296     15.3  396.90   4.98  24.0
1           2  0.02731   0.0   7.07     0  ...  242     17.8  396.90   9.14  21.6
2           3  0.02729   0.0   7.07     0  ...  242     17.8  392.83   4.03  34.7
3           4  0.03237   0.0   2.18     0  ...  222     18.7  394.63   2.94  33.4
4           5  0.06905   0.0   2.18     0  ...  222     18.7  396.90   5.33  36.2

[5 rows x 15 columns]

In [9]:
boston.iloc[-5:,:]

     Unnamed: 0     crim   zn  indus  chas  ...  tax  ptratio   black  lstat  medv
501         502  0.06263  0.0  11.93     0  ...  273     21.0  391.99   9.67  22.4
502         503  0.04527  0.0  11.93     0  ...  273     21.0  396.90   9.08  20.6
503         504  0.06076  0.0  11.93     0  ...  273     21.0  396.90   5.64  23.9
504         505  0.10959  0.0  11.93     0  ...  273     21.0  393.45   6.48  22.0
505         506  0.04741  0.0  11.93     0  ...  273     21.0  396.90   7.88  11.9

[5 rows x 15 columns]

In [10]:
boston.head()

   Unnamed: 0     crim    zn  indus  chas  ...  tax  ptratio   black  lstat  medv
0           1  0.00632  18.0   2.31     0  ...  296     15.3  396.90   4.98  24.0
1           2  0.02731   0.0   7.07     0  ...  242     17.8  396.90   9.14  21.6
2           3  0.02729   0.0   7.07     0  ...  242     17.8  392.83   4.03  34.7
3           4  0.03237   0.0   2.18     0  ...  222     18.7  394.63   2.94  33.4
4           5  0.06905   0.0   2.18     0  ...  222     18.7  396.90   5.33  36.2

[5 rows x 15 columns]

In [11]:
boston.head(2)

   Unnamed: 0     crim    zn  indus  chas  ...  tax  ptratio  black  lstat  medv
0           1  0.00632  18.0   2.31     0  ...  296     15.3  396.9   4.98  24.0
1           2  0.02731   0.0   7.07     0  ...  242     17.8  396.9   9.14  21.6

[2 rows x 15 columns]

In [12]:
boston.tail()

     Unnamed: 0     crim   zn  indus  chas  ...  tax  ptratio   black  lstat  medv
501         502  0.06263  0.0  11.93     0  ...  273     21.0  391.99   9.67  22.4
502         503  0.04527  0.0  11.93     0  ...  273     21.0  396.90   9.08  20.6
503         504  0.06076  0.0  11.93     0  ...  273     21.0  396.90   5.64  23.9
504         505  0.10959  0.0  11.93     0  ...  273     21.0  393.45   6.48  22.0
505         506  0.04741  0.0  11.93     0  ...  273     21.0  396.90   7.88  11.9

[5 rows x 15 columns]

In [13]:
boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  506 non-null    int64
 1   crim        506 non-null    float64
 2   zn          506 non-null    float64
 3   indus       506 non-null    float64
 4   chas        506 non-null    int64
 5   nox         506 non-null    float64
 6   rm          506 non-null    float64
 7   age         506 non-null    float64
 8   dis         506 non-null    float64
 9   rad         506 non-null    int64
 10  tax         506 non-null    int64
 11  ptratio     506 non-null    float64
 12  black       506 non-null    float64
 13  lstat       506 non-null    float64
 14  medv        506 non-null    float64
dtypes: float64(11), int64(4)
memory usage: 59.4 KB

In [14]:
age = boston['age']
print(type(age))                        -

<class 'pandas.core.series.Series'>

In [15]:
age.head()

0    65.2
1    78.9
2    61.1
3    45.8
4    54.2
Name: age, dtype: float64

In [16]:
ages = age.values
print(type(ages))

<class 'numpy.ndarray'>